{% extends "medicalapp/padre.html" %}

{% block top %}

<!------------------- Texto sobre mi ------------------------------>

<title>Acerca de Mí</title>

<body>
    <section id="about-me">
        <div class="container">
            <h2>Acerca de Mí</h2>
            <img src="media/FotoPerfil.png" alt="Tu Foto" style="max-width: 150px; margin-top: 20px; margin-bottom: 20px;">
            <p>Mi nombre es Francisco Pietraroia y soy estudiante de programacion. Vivo en Lanus y tengo 23 años. Me apasiona la tecnologia y el arte.</p>
            <p>Estoy comprometido con resolver problemas por medio de mis conocimientos y me esfuerzo por ampliar esto ultimo dia a dia.</p>
            <p>No dudes en ponerte en contacto conmigo por fpietraroia@gmail.com para hablar de trabajo o cualquier otra pregunta que puedas tener.</p>
            <p>Tambien dejo mi <a href="https://www.linkedin.com/in/francisco-pietraroia-18995217a/" target="_blank">LinkedIn</a> por si quieren saber mas de mi perfil.</p>
        </div>
    </section>
</body>
{% endblock %}

<!------------------- Pie de pagina ------------------------------>

{% block foot %}
<p style = "font-size: 20px;
color: #1ABC9C;
text-align: center;
margin-top: 10px;"> Todos los derechos reservados. </p>

{% endblock %}